@font-face {
	font-family: "<%= fontName %>";
	src: url('<%= fontPath %><%= fontName %>.eot');
	src: url('<%= fontPath %><%= fontName %>.eot?#iefix') format('eot'),
	url('<%= fontPath %><%= fontName %>.woff2') format('woff2'),
	url('<%= fontPath %><%= fontName %>.woff') format('woff'),
	url('<%= fontPath %><%= fontName %>.ttf') format('truetype'),
	url('<%= fontPath %><%= fontName %>.svg#<%= fontName %>') format('svg');
}

@mixin themecustom-icon{
	font-family: "<%= fontName %>";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
}

[class*="<%= cssClass %>-"] {
	@include themecustom-icon;
}


@function themecustom-char($filename) {
	$char: "";
<% _.each(glyphs, function(glyph) { %>
	@if $filename == <%= glyph.fileName %> {
	$char: "\<%= glyph.codePoint %>";
}<% }); %>

@return $char;
}

@mixin <%= cssClass%>($filename, $insert: before) {
&:#{$insert} {
	content: themecustom-char($filename);
}
}
