@font-face {
    font-family: 'star';
    src: url('../../plugins/woocommerce/assets/fonts/star.eot');
    src: url('../../plugins/woocommerce/assets/fonts/star.eot?#iefix') format('embedded-opentype'), url('../../plugins/woocommerce/assets/fonts/star.woff') format('woff'), url('../../plugins/woocommerce/assets/fonts/star.ttf') format('truetype'), url('../../plugins/woocommerce/assets/fonts/star.svg#star') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import 'bourbon';
// Susy
// Susy grid system. See: http://oddbird.net/susy/docs/
@import 'susy';
// Vendors
// External libraries and frameworks.
@import 'vendors/modular-scale';
// Utilities
// Sass tools and helpers used across the project.
@import 'utils/variables';
@import 'utils/mixins';
@import 'icons/mixin';

@import "woocommerce/base";
@import "woocommerce/products";
@import "woocommerce/single-product";
@import "woocommerce/widget";
@import "woocommerce/cart";
@import "woocommerce/checkout";
@import "woocommerce/order";
@import "woocommerce/order-tracking";
@import "woocommerce/myaccount";
@import "woocommerce/wcml";
@import "woocommerce/woo-variation-swatches";
@import "woocommerce/canvas-filter";
@import "woocommerce/quickview";
@import "woocommerce/wishlist";
@import "woocommerce/compare";
@import "woocommerce/responsive";
@import "woocommerce/product-block";
@import "woocommerce/product-block-list";
@import "woocommerce/ajax-search";


