@charset "UTF-8";
@keyframes opal-loading {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes opal-loading {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@font-face {
  font-family: "organey-icon";
  src: url("./assets/fonts/organey-icon.eot");
  src: url("./assets/fonts/organey-icon.eot?#iefix") format("eot"), url("./assets/fonts/organey-icon.woff2") format("woff2"), url("./assets/fonts/organey-icon.woff") format("woff"), url("./assets/fonts/organey-icon.ttf") format("truetype"), url("./assets/fonts/organey-icon.svg#organey-icon") format("svg");
}
[class*=organey-icon-] {
  font-family: "organey-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
}

.elementor-widget-woocommerce-menu-cart .elementor-menu-cart__container .elementor-menu-cart__main {
  max-height: 100vh;
}
.elementor-widget-woocommerce-menu-cart .elementor-menu-cart__close-button {
  width: 17px;
  height: 17px;
}
.elementor-widget-woocommerce-menu-cart .elementor-menu-cart__close-button:after, .elementor-widget-woocommerce-menu-cart .elementor-menu-cart__close-button:before {
  height: 2px;
}
.elementor-widget-woocommerce-menu-cart .woocommerce-mini-cart__empty-message {
  color: var(--heading);
  text-align: center;
  font-size: 14px;
  font-weight: 600;
}
.elementor-widget-woocommerce-menu-cart .woocommerce-mini-cart__empty-message:before {
  content: "\e060";
  font-family: "organey-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-weight: 700;
  font-size: 86px;
  margin-bottom: 20px;
  display: block;
  color: rgba(135, 135, 135, 0.15);
}
.elementor-widget-woocommerce-menu-cart .widget_shopping_cart_content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.elementor-widget-woocommerce-menu-cart .widget_shopping_cart_content .elementor-menu-cart__footer-buttons {
  margin-top: auto;
  padding-bottom: 40px;
}
.elementor-widget-woocommerce-menu-cart .widget_shopping_cart_content .elementor-menu-cart__footer-buttons .elementor-button {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
}
.elementor-widget-woocommerce-menu-cart .widget_shopping_cart_content .elementor-menu-cart__footer-buttons .elementor-button:hover {
  background-color: var(--primary_hover);
}
.elementor-widget-woocommerce-menu-cart .widget_shopping_cart_content .elementor-menu-cart__footer-buttons .elementor-button:last-child {
  background-color: var(--primary);
}
.elementor-widget-woocommerce-menu-cart .widget_shopping_cart_content .elementor-menu-cart__footer-buttons .elementor-button:last-child:hover {
  background-color: var(--primary_hover);
}
.elementor-widget-woocommerce-menu-cart .elementor-menu-cart__products {
  max-height: calc(100vh - 310px);
}
.elementor-widget-woocommerce-menu-cart .elementor-menu-cart__product {
  grid-template-rows: unset;
  grid-template-columns: 25% auto 30px;
}
.elementor-widget-woocommerce-menu-cart .elementor-menu-cart__product-name {
  grid-column-start: 2;
  grid-column-end: 3;
}
.elementor-widget-woocommerce-menu-cart .elementor-menu-cart__product-name a {
  color: var(--accent);
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
.elementor-widget-woocommerce-menu-cart .elementor-menu-cart__product-name a:hover {
  color: var(--primary);
}
.elementor-widget-woocommerce-menu-cart .elementor-menu-cart__product-price {
  align-self: self-start;
  grid-column-start: 2;
  font-size: 15px;
  color: var(--accent);
}
.elementor-widget-woocommerce-menu-cart .elementor-menu-cart__product-price .quantity {
  color: var(--text);
}
.elementor-widget-woocommerce-menu-cart .elementor-menu-cart__product-price .amount {
  font-weight: 600;
  color: var(--light);
}
.elementor-widget-woocommerce-menu-cart .elementor-menu-cart__product-remove {
  grid-row-start: 1;
  grid-column-start: 3;
  align-self: start;
  border: none;
  height: 25px;
  width: 25px;
}
.elementor-widget-woocommerce-menu-cart .elementor-menu-cart__product-remove:after, .elementor-widget-woocommerce-menu-cart .elementor-menu-cart__product-remove:before {
  content: none;
}
.elementor-widget-woocommerce-menu-cart .elementor-menu-cart__product-remove a {
  color: var(--light);
}
.elementor-widget-woocommerce-menu-cart .elementor-menu-cart__product-remove a:before {
  font-family: "organey-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  content: "\e009";
  font-size: 18px;
}
.elementor-widget-woocommerce-menu-cart .elementor-menu-cart__product-remove a:hover {
  color: var(--primary);
}
.elementor-widget-woocommerce-menu-cart .elementor-menu-cart__subtotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 0;
  border: 0;
  font-size: 18px;
}
.elementor-widget-woocommerce-menu-cart .elementor-menu-cart__subtotal strong {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--accent);
}
.elementor-widget-woocommerce-menu-cart .elementor-menu-cart__subtotal .amount {
  font-size: 18px;
  color: var(--primary);
}
.elementor-widget-woocommerce-menu-cart .cart_item .elementor-menu-cart__product-remove a {
  opacity: 1;
}

.elementor-menu-cart__wrapper .elementor-menu-cart__toggle {
  line-height: 1;
}
.elementor-menu-cart__wrapper #elementor-menu-cart__toggle_button {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
}
.elementor-menu-cart__wrapper #elementor-menu-cart__toggle_button .elementor-button-text {
  margin-right: 0;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .elementor-menu-cart__wrapper #elementor-menu-cart__toggle_button .elementor-button-text {
    display: none;
  }
}
.elementor-menu-cart__wrapper #elementor-menu-cart__toggle_button .elementor-button-icon {
  line-height: 1;
}
.elementor-menu-cart__wrapper #elementor-menu-cart__toggle_button:focus {
  background-color: transparent;
}

.elementor-widget-organey-post-grid .column-item {
  margin-bottom: 30px;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.elementor-widget-organey-section-slider .elementor-section.elementor-section-stretched {
  left: 50% !important;
  margin-left: -50vw;
}
.elementor-widget-organey-section-slider .swiper-pagination-bullet-active {
  background-color: var(--primary);
  border-radius: 6px;
}
.elementor-widget-organey-section-slider .swiper-container-vertical .swiper-pagination-bullet-active {
  height: 32px;
}
.elementor-widget-organey-section-slider .swiper-container-horizontal .swiper-pagination-bullet-active {
  width: 32px;
}
@media (max-width: 1023px) {
  .elementor-widget-organey-section-slider.disable-on-mobile-yes .elementor-swiper-button,
.elementor-widget-organey-section-slider.disable-on-mobile-yes .swiper-pagination {
    display: none;
  }
  .elementor-widget-organey-section-slider.disable-on-mobile-yes .swiper-wrapper {
    display: block;
    max-height: unset !important;
  }
  .elementor-widget-organey-section-slider.disable-on-mobile-yes .elementor-widget-container .swiper-container {
    max-height: 999em !important;
  }
}

@media (min-width: 768px) {
  .elementor-section-slider-height-full .swiper-container {
    height: 100vh;
  }
}

@media (max-width: 767px) {
  .elementor-nav-menu-wrapper .main-navigation .primary-navigation ul {
    max-height: 0;
    overflow: hidden;
    transition: all ease 0.4s;
  }
  .elementor-nav-menu-wrapper .main-navigation .primary-navigation ul.show {
    max-height: 999px;
  }
}

.single-woncep_menu_item .elementor-icon-list-items li.elementor-icon-list-item,
.mega-menu .elementor-icon-list-items li.elementor-icon-list-item {
  min-width: unset !important;
}
.single-woncep_menu_item .elementor-icon-list-items li.elementor-icon-list-item a:not(.elementor-button-link),
.mega-menu .elementor-icon-list-items li.elementor-icon-list-item a:not(.elementor-button-link) {
  width: unset !important;
  padding: 0;
}
.single-woncep_menu_item .elementor-image-box-wrapper a:not(.elementor-button-link),
.mega-menu .elementor-image-box-wrapper a:not(.elementor-button-link) {
  width: unset !important;
}

.elementor-video-popup {
  display: inline-flex;
  align-items: center;
}

.elementor-video-wrapper {
  text-align: center;
}

.elementor-video-popup {
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 28px 30px;
  border-radius: 50%;
  background-color: #fff;
}

.elementor-video-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1em;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.elementor-video-icon i {
  font-size: 24px;
  color: var(--accent);
}

.elementor-widget-organey-products-tabs .elementor-tabs .elementor-tabs-wrapper {
  text-align: center;
  display: block;
  margin-bottom: 15px;
}
.elementor-widget-organey-products-tabs .elementor-tab-title {
  font-weight: 500;
  margin-right: 50px;
  text-transform: uppercase;
  position: relative;
  cursor: pointer;
  display: inline-block;
  border: 0;
  border-color: transparent;
  outline: 0;
  padding-bottom: 10px;
  color: var(--light);
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.elementor-widget-organey-products-tabs .elementor-tab-title:hover, .elementor-widget-organey-products-tabs .elementor-tab-title.elementor-active {
  color: var(--accent);
}
.elementor-widget-organey-products-tabs .elementor-tab-title:last-child {
  margin-right: 0 !important;
}
.elementor-widget-organey-products-tabs .elementor-tab-content {
  border: 0;
  padding: 0;
}
.elementor-widget-organey-products-tabs .elementor-tabs-content-wrapper {
  border: none;
}
.elementor-widget-organey-instagram .column-item {
  margin-bottom: 30px;
}
.elementor-widget-organey-instagram.elementor-instagram-style-2 .row {
  display: grid;
  grid: repeat(11, 1fr)/repeat(10, 1fr);
  margin: 0;
  grid-gap: 10px;
}
.elementor-widget-organey-instagram.elementor-instagram-style-2 .row .column-item {
  max-width: 100%;
  flex: 0 0 100%;
  padding: 0;
  margin-bottom: 0;
}
.elementor-widget-organey-instagram.elementor-instagram-style-2 .row .column-item:nth-child(6n+1) {
  grid-area: 5/1/span 4/span 2;
}
.elementor-widget-organey-instagram.elementor-instagram-style-2 .row .column-item:nth-child(6n+2) {
  grid-area: 2/3/span 6/span 3;
}
.elementor-widget-organey-instagram.elementor-instagram-style-2 .row .column-item:nth-child(6n+3) {
  grid-area: 8/4/span 4/span 2;
}
.elementor-widget-organey-instagram.elementor-instagram-style-2 .row .column-item:nth-child(6n+4) {
  grid-area: 1/6/span 4/span 2;
}
.elementor-widget-organey-instagram.elementor-instagram-style-2 .row .column-item:nth-child(6n+5) {
  grid-area: 5/6/span 6/span 3;
}
.elementor-widget-organey-instagram.elementor-instagram-style-2 .row .column-item:nth-child(6n+6) {
  grid-area: 4/9/span 4/span 2;
}
.elementor-widget-organey-instagram.elementor-instagram-style-3 .row {
  margin: 0;
}
.elementor-widget-organey-instagram.elementor-instagram-style-3 .column-item {
  padding: 0;
  margin: 0;
}
.elementor-widget-organey-instagram.elementor-instagram-style-3 .elementor-widget-container {
  position: relative;
}
.elementor-widget-organey-instagram.elementor-instagram-style-3 .instagram-header {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(34, 34, 34, 0.8);
  z-index: 2;
}
.elementor-widget-organey-instagram.elementor-instagram-style-3 .instagram-header i {
  font-size: 60px;
  color: var(--primary);
}
.elementor-widget-organey-instagram.elementor-instagram-style-3 .instagram-header .instagram-name {
  font-size: 32px;
  margin-top: 12px;
}
.elementor-widget-organey-instagram.elementor-instagram-style-3 .instagram-header .instagram-name a {
  color: #fff;
}

.elementor-search-form-wrapper .site-search {
  display: block;
}
.elementor-search-form-wrapper .widget_search form::before,
.elementor-search-form-wrapper .widget_product_search form::before {
  font-family: "organey-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  content: "\e01d";
  position: absolute;
  top: 50%;
  right: 20px;
  line-height: 1;
  transform: translate(0, -50%);
  color: var(--text);
}
.elementor-search-form-wrapper .widget_search form input[type=text],
.elementor-search-form-wrapper .widget_search form input[type=search],
.elementor-search-form-wrapper .widget_product_search form input[type=text],
.elementor-search-form-wrapper .widget_product_search form input[type=search] {
  font-size: 15px;
  padding-left: 1.5em;
  padding-right: 4em;
  border-radius: 50px;
  background-color: transparent;
}
.elementor-search-form-wrapper .widget_search form input[type=text] ::placeholder,
.elementor-search-form-wrapper .widget_search form input[type=search] ::placeholder,
.elementor-search-form-wrapper .widget_product_search form input[type=text] ::placeholder,
.elementor-search-form-wrapper .widget_product_search form input[type=search] ::placeholder {
  color: var(--text);
}
.elementor-search-form-wrapper .widget_search form input[type=submit],
.elementor-search-form-wrapper .widget_search form button[type=submit],
.elementor-search-form-wrapper .widget_product_search form input[type=submit],
.elementor-search-form-wrapper .widget_product_search form button[type=submit] {
  padding: 0;
  font-size: 0;
}
.elementor-search-form-wrapper .woocommerce-product-search.loading button[type=submit]::after {
  font-family: "organey-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  content: "\e08d";
  animation: fa-spin 0.75s linear infinite;
  height: 20px;
  width: 20px;
  line-height: 20px;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  display: block;
}

.search-organey-layout-style-2 .elementor-search-form-wrapper .widget_search form::before,
.search-organey-layout-style-2 .elementor-search-form-wrapper .widget_product_search form::before {
  content: none;
}
.search-organey-layout-style-2 .elementor-search-form-wrapper .widget_search form input[type=submit],
.search-organey-layout-style-2 .elementor-search-form-wrapper .widget_search form button[type=submit],
.search-organey-layout-style-2 .elementor-search-form-wrapper .widget_product_search form input[type=submit],
.search-organey-layout-style-2 .elementor-search-form-wrapper .widget_product_search form button[type=submit] {
  font-size: 14px;
  right: 4px;
  top: 4px;
  bottom: 4px;
  height: unset;
  padding: 0 24px;
  width: unset;
  font-weight: 400;
  background-color: var(--primary);
}
.search-organey-layout-style-2 .elementor-search-form-wrapper .widget_search form input[type=submit]:hover,
.search-organey-layout-style-2 .elementor-search-form-wrapper .widget_search form button[type=submit]:hover,
.search-organey-layout-style-2 .elementor-search-form-wrapper .widget_product_search form input[type=submit]:hover,
.search-organey-layout-style-2 .elementor-search-form-wrapper .widget_product_search form button[type=submit]:hover {
  background-color: var(--primary_hover);
}
.search-organey-layout-style-2 .elementor-search-form-wrapper .woocommerce-product-search.loading button[type=submit] {
  color: var(--primary);
}
.search-organey-layout-style-2 .elementor-search-form-wrapper .woocommerce-product-search.loading button[type=submit]:hover {
  color: var(--primary_hover);
}
.search-organey-layout-style-2 .elementor-search-form-wrapper .woocommerce-product-search.loading button[type=submit]::after {
  color: #fff;
}

.site-header-search .button-search-popup {
  font-size: 22px;
  color: var(--accent);
  line-height: 1;
}
.site-header-search .button-search-popup:hover {
  color: var(--primary);
}
.site-header-search .button-search-popup i {
  line-height: 1;
  vertical-align: middle;
}

.search-popup-active {
  overflow: hidden;
}

.elementor-editor-active .site-search-popup {
  display: none !important;
}

.site-search-popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all ease-in-out 0.3s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.site-search-popup .site-search-popup-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 40px;
  background-color: #fff;
  transform: translateY(-100%);
  transition: all ease-in-out 0.3s;
}
@media (min-width: 1024px) {
  .site-search-popup .site-search-popup-wrap {
    padding: 80px;
  }
}
.site-search-popup .site-search-popup-wrap .site-search-popup-close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  line-height: 1;
  width: 26px;
  height: 26px;
}
@media (min-width: 1024px) {
  .site-search-popup .site-search-popup-wrap .site-search-popup-close {
    top: 20px;
    right: 30px;
  }
}
.site-search-popup .site-search-popup-wrap .site-search-popup-close:before, .site-search-popup .site-search-popup-wrap .site-search-popup-close:after {
  content: "\20";
  position: absolute;
  top: 50%;
  display: inline-block;
  margin-top: -1px;
  width: 26px;
  height: 2px;
  background-color: var(--accent);
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, width 0.2s ease-in-out;
  right: 0;
  transform: rotate(-45deg);
}
.site-search-popup .site-search-popup-wrap .site-search-popup-close:before {
  transform: rotate(45deg);
}
.site-search-popup .site-search-popup-wrap .site-search-popup-close:hover:before, .site-search-popup .site-search-popup-wrap .site-search-popup-close:hover:after {
  transform: rotate(0);
}
.site-search-popup .site-search-popup-wrap .site-search {
  display: block;
  max-width: 600px;
  width: 100%;
}
@media (max-width: 767px) {
  .site-search-popup .site-search-popup-wrap .site-search {
    max-width: 300px;
  }
}
.site-search-popup .site-search-popup-wrap .site-search .widget {
  margin-bottom: 0;
  border: none;
}
.site-search-popup .site-search-popup-wrap .site-search .ajax-search-result {
  max-height: 50vh;
}
.search-popup-active .site-search-popup {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.search-popup-active .site-search-popup .site-search-popup-wrap {
  transform: translateY(0);
}

.site-search {
  font-size: 14px;
  color: var(--text);
  clear: both;
  display: none;
}
.site-search .widget_product_search input[type=text],
.site-search .widget_product_search input[type=search] {
  padding: 1em 1.618em;
  line-height: 1;
  background-color: #fff;
  border-radius: 2em;
  border: 1px solid;
  border-color: var(--border);
}
.site-search .widget_product_search #searchsubmit {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.site-header-account {
  position: relative;
}
.site-header-account > a {
  display: flex;
  align-items: center;
  white-space: nowrap;
  line-height: 1;
  color: var(--accent);
}
.site-header-account > a i {
  font-size: 16px;
  line-height: 1;
  vertical-align: middle;
  color: var(--primary);
}
.site-header-account > a .account-user {
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #D9E8DB;
}
.site-header-account > a .account-user img {
  border-radius: 50%;
}
.site-header-account > a .account-content {
  font-size: 14px;
}
.site-header-account > a:hover .account-content {
  text-decoration: underline;
}
.site-header-account .account-dropdown {
  text-align: left;
  right: 0;
  top: 100%;
  position: absolute;
  pointer-events: none;
  opacity: 0;
  z-index: 100;
  visibility: hidden;
  margin-top: 20px;
  background-color: #ffffff;
}
.site-header-account .account-dropdown:before {
  content: "";
  display: block;
  position: absolute;
  top: -25px;
  width: 50px;
  right: 0;
  height: 25px;
}
.site-header-account .account-dropdown .result-error {
  margin: 1em 0;
}
.site-header-account .account-dropdown:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  width: 100%;
  background-color: var(--primary);
}
#elementor-sidebar .site-header-account .account-dropdown {
  left: 0;
  right: unset;
}
.site-header-account .account-dropdown.right {
  left: 0;
  right: unset;
}
.site-header-account .account-dropdown.right .account-wrap:before {
  left: 20px;
  right: unset;
}
.site-header-account .account-dropdown.justify {
  right: 50%;
  transform: translateX(50%);
}
.site-header-account .account-dropdown.justify .account-wrap:before {
  right: 50%;
  transform: translateX(50%) rotate(45deg);
}
.site-header-account .account-dropdown a.register-link, .site-header-account .account-dropdown a.lostpass-link {
  color: var(--primary);
  font-size: 14px;
}
.site-header-account .account-dropdown a.register-link:hover, .site-header-account .account-dropdown a.lostpass-link:hover {
  text-decoration: underline;
}
.site-header-account .account-dropdown .account-wrap {
  display: block !important;
  position: relative;
  background-color: #fff;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  border-width: 2px;
  border-style: solid;
  border-color: var(--border);
}
.site-header-account .account-dropdown .account-inner {
  width: 320px;
  padding: 20px;
  max-height: 500px;
  overflow: auto;
}
.site-header-account .account-dropdown .account-inner.dashboard {
  width: 210px;
  padding: 20px 0;
}
.site-header-account .account-dropdown .account-inner::-webkit-scrollbar {
  width: 3px;
}
.site-header-account .account-dropdown .account-inner::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}
.site-header-account .account-dropdown .account-inner::-webkit-scrollbar-thumb {
  background-color: #000000;
}
.site-header-account .account-links-menu,
.site-header-account .account-dashboard {
  list-style: none;
  margin: 0;
}
.site-header-account .account-links-menu li a,
.site-header-account .account-dashboard li a {
  width: 100%;
  text-align: left;
  color: var(--text);
  font-size: 14px;
  line-height: 20px;
  display: block;
  padding: 10px 20px;
}
.site-header-account .account-links-menu li a:hover,
.site-header-account .account-dashboard li a:hover {
  color: var(--primary_hover);
  background-color: rgba(0, 0, 0, 0.035);
}
.site-header-account .account-dropdown.active {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

.header-account-content-right .site-header-account .account-dropdown {
  right: unset;
  left: 0;
}
.header-account-content-right .site-header-account .account-dropdown:before {
  right: unset;
  left: 0;
}

.mobile-navigation, .mobile-navigation-categories {
  clear: both;
}
.mobile-navigation ul, .mobile-navigation-categories ul {
  margin: 0;
  list-style: none;
}
.mobile-navigation ul > li.menu-item, .mobile-navigation-categories ul > li.menu-item {
  position: relative;
}
.mobile-navigation ul > li.menu-item > a, .mobile-navigation-categories ul > li.menu-item > a {
  display: flex;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid;
  border-bottom-color: var(--border);
  color: var(--accent);
}
.mobile-navigation ul > li.menu-item > a i, .mobile-navigation-categories ul > li.menu-item > a i {
  font-size: 16px;
  margin-right: 15px;
}
.mobile-navigation ul > li.menu-item button::after, .mobile-navigation-categories ul > li.menu-item button::after {
  transition: all, ease, 0.9s;
}
.mobile-navigation ul > li.menu-item:last-child > a, .mobile-navigation-categories ul > li.menu-item:last-child > a {
  border-bottom: none;
}
.mobile-navigation ul ul.sub-menu, .mobile-navigation-categories ul ul.sub-menu {
  display: none;
  margin-top: 10px;
}
.mobile-navigation ul ul.sub-menu > li.menu-item > a, .mobile-navigation-categories ul ul.sub-menu > li.menu-item > a {
  font-size: 14px;
  padding: 2px 0 2px 13px;
  border-bottom: none;
  font-weight: 400;
  color: var(--text);
}
.mobile-navigation ul ul.sub-menu > li.menu-item:first-child > a, .mobile-navigation-categories ul ul.sub-menu > li.menu-item:first-child > a {
  padding-top: 6px;
}
.mobile-navigation ul ul.sub-menu > li.menu-item.current-menu-item > a, .mobile-navigation ul ul.sub-menu > li.menu-item.current-menu-ancestor > a, .mobile-navigation ul ul.sub-menu > li.menu-item.current-menu-parent > a, .mobile-navigation-categories ul ul.sub-menu > li.menu-item.current-menu-item > a, .mobile-navigation-categories ul ul.sub-menu > li.menu-item.current-menu-ancestor > a, .mobile-navigation-categories ul ul.sub-menu > li.menu-item.current-menu-parent > a {
  color: var(--primary);
}
.mobile-navigation ul ul.sub-menu .dropdown-toggle, .mobile-navigation-categories ul ul.sub-menu .dropdown-toggle {
  padding: 12px 0;
}
.mobile-navigation ul.menu li.current-menu-item > a, .mobile-navigation ul.menu li.current-menu-ancestor > a, .mobile-navigation ul.menu li.current-menu-parent > a, .mobile-navigation-categories ul.menu li.current-menu-item > a, .mobile-navigation-categories ul.menu li.current-menu-ancestor > a, .mobile-navigation-categories ul.menu li.current-menu-parent > a {
  color: var(--primary);
}
.mobile-navigation .dropdown-toggle, .mobile-navigation-categories .dropdown-toggle {
  background: transparent;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 16px 0;
  line-height: 1;
  width: 100%;
  text-align: right;
  color: var(--accent);
}
.mobile-navigation .dropdown-toggle:focus, .mobile-navigation-categories .dropdown-toggle:focus {
  outline: none;
}
.mobile-navigation .dropdown-toggle:hover, .mobile-navigation .dropdown-toggle:active, .mobile-navigation .dropdown-toggle:focus, .mobile-navigation-categories .dropdown-toggle:hover, .mobile-navigation-categories .dropdown-toggle:active, .mobile-navigation-categories .dropdown-toggle:focus {
  background-color: transparent;
}

.mobile-navigation ul li button::after {
  font-family: "organey-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  content: "\e061";
  transition: all, ease, 0.9s;
}
.mobile-navigation ul li button.toggled-on::after {
  transform: rotate(180deg);
}

.elementor-canvas-menu-wrapper .menu-mobile-nav-button {
  line-height: 0;
  display: inline-block;
}

.organey-mobile-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  width: 330px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  overflow-y: auto;
  background-color: #fff;
  transition: transform 0.25s ease;
  -webkit-transform: translate3d(-330px, 0, 0);
  transform: translate3d(-330px, 0, 0);
}
.mobile-nav-active .organey-mobile-nav {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.admin-bar .organey-mobile-nav {
  top: 0;
}
@media (min-width: 783px) {
  .admin-bar .organey-mobile-nav {
    top: 32px;
  }
}
@media (min-width: 601px) and (max-width: 782px) {
  .admin-bar .organey-mobile-nav {
    top: 46px;
  }
}
.organey-mobile-nav .search-form {
  margin-top: 1em;
}
.organey-mobile-nav .organey-social {
  border-top: 1px solid #0e0e0e;
  padding: 0.5em;
  margin-top: 1rem;
}
body .organey-mobile-nav .organey-social ul li a:before {
  color: #fff;
}
.organey-mobile-nav .organey-language-switcher-mobile {
  line-height: 0;
  padding: 0 30px;
}
.organey-mobile-nav .organey-language-switcher-mobile .menu {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  border-top: 1px solid;
  border-top-color: var(--border);
}
.organey-mobile-nav .organey-language-switcher-mobile .item {
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 5px;
}
.organey-mobile-nav .organey-language-switcher-mobile .item .language-switcher-head {
  padding-right: 5px;
}
.organey-mobile-nav .organey-language-switcher-mobile .item a {
  display: block;
  padding: 0 5px;
}
.organey-mobile-nav .organey-language-switcher-mobile .item:last-child {
  margin-right: 0;
}
.organey-mobile-nav .organey-language-switcher-mobile .item img {
  width: 24px;
  height: 16px;
  object-fit: cover;
}
.organey-mobile-nav .mobile-nav-tabs {
  clear: both;
  padding: 0 30px;
  background-color: #f7f7f7;
}
.organey-mobile-nav .mobile-nav-tabs ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  list-style: none;
  margin: 0;
}
.organey-mobile-nav .mobile-nav-tabs ul li {
  position: relative;
  cursor: pointer;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: var(--light);
}
.organey-mobile-nav .mobile-nav-tabs ul li:before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 2px;
  width: 100%;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.6);
  transition: all 0.3s ease;
  background-color: var(--primary);
}
.organey-mobile-nav .mobile-nav-tabs ul li.active {
  color: var(--accent);
}
.organey-mobile-nav .mobile-nav-tabs ul li.active:before {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}
.organey-mobile-nav .mobile-nav-tabs ul .mobile-pages-title {
  margin-right: 15px;
}
.organey-mobile-nav .mobile-nav-tabs ul .mobile-categories-title {
  margin-left: 15px;
}
.organey-mobile-nav .mobile-menu-tab {
  display: none;
  padding: 0 30px;
  -webkit-animation: wd-fadeIn 1s ease;
  animation: wd-fadeIn 1s ease;
}
.organey-mobile-nav .mobile-menu-tab.active {
  display: block;
}

@keyframes wd-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.mobile-nav-close {
  float: right;
  clear: both;
  position: absolute;
  line-height: 1;
  top: 20px;
  right: 22px;
  border: 1px solid;
  border-color: var(--accent);
  border-radius: 50%;
  padding: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  color: var(--accent);
}
.mobile-nav-close i {
  line-height: 19px;
  vertical-align: middle;
}
.mobile-nav-close:hover, .mobile-nav-close:focus {
  color: var(--accent);
}

.organey-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 997;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  transition: opacity 0.25s ease, visibility 0s ease;
}
.mobile-nav-active .organey-overlay {
  visibility: visible;
  opacity: 1;
}

.menu-mobile-nav-button {
  display: block;
  font-size: 15px;
  color: var(--accent);
}
.menu-mobile-nav-button i {
  font-size: 22px;
  line-height: 1;
  vertical-align: middle;
}

html {
  overflow-x: hidden;
}

#page {
  transition: all 0.25s ease;
}

.mobile-nav-active {
  overflow: hidden;
}

@media (min-width: 1024px) {
  .elementor-product-layout-masonory-1 .woocommerce ul.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    grid-gap: 30px;
  }
  .elementor-product-layout-masonory-1 .woocommerce ul.products li.product {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  .elementor-product-layout-masonory-1 .woocommerce ul.products li.product:first-child {
    grid-column-end: 2 span;
    grid-row-end: 2 span;
  }
}

@media (min-width: 1024px) {
  .elementor-product-layout-masonory-2 .woocommerce ul.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    grid-gap: 30px;
  }
  .elementor-product-layout-masonory-2 .woocommerce ul.products li.product {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
    margin: 0;
  }
  .elementor-product-layout-masonory-2 .woocommerce ul.products li.product:nth-child(1), .elementor-product-layout-masonory-2 .woocommerce ul.products li.product:nth-child(7), .elementor-product-layout-masonory-2 .woocommerce ul.products li.product:nth-child(5), .elementor-product-layout-masonory-2 .woocommerce ul.products li.product:nth-child(8) {
    grid-row-end: 2 span;
  }
  .elementor-product-layout-masonory-2 .woocommerce ul.products li.product:nth-child(1), .elementor-product-layout-masonory-2 .woocommerce ul.products li.product:nth-child(7), .elementor-product-layout-masonory-2 .woocommerce ul.products li.product:nth-child(11) {
    grid-column-end: 2 span;
  }
  .elementor-product-layout-masonory-2 .woocommerce ul.products li.product:nth-child(5) .product-transition, .elementor-product-layout-masonory-2 .woocommerce ul.products li.product:nth-child(8) .product-transition, .elementor-product-layout-masonory-2 .woocommerce ul.products li.product:nth-child(11) .product-transition {
    height: 100%;
  }
  .elementor-product-layout-masonory-2 .woocommerce ul.products li.product:nth-child(5) .product-transition .product-img-wrap, .elementor-product-layout-masonory-2 .woocommerce ul.products li.product:nth-child(8) .product-transition .product-img-wrap, .elementor-product-layout-masonory-2 .woocommerce ul.products li.product:nth-child(11) .product-transition .product-img-wrap {
    height: 100%;
  }
  .elementor-product-layout-masonory-2 .woocommerce ul.products li.product:nth-child(5) .product-transition .product-image, .elementor-product-layout-masonory-2 .woocommerce ul.products li.product:nth-child(8) .product-transition .product-image, .elementor-product-layout-masonory-2 .woocommerce ul.products li.product:nth-child(11) .product-transition .product-image {
    height: 100%;
    position: relative;
  }
  .elementor-product-layout-masonory-2 .woocommerce ul.products li.product:nth-child(5) .product-transition .product-image img, .elementor-product-layout-masonory-2 .woocommerce ul.products li.product:nth-child(8) .product-transition .product-image img, .elementor-product-layout-masonory-2 .woocommerce ul.products li.product:nth-child(11) .product-transition .product-image img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.elementor-widget-organey-product-category .cat-image {
  display: flex;
  justify-content: center;
}
.elementor-widget-organey-product-category .cat-image a {
  display: inline-block;
  position: relative;
}
.elementor-widget-organey-product-category .cat-image a:before {
  content: "";
  position: absolute;
  width: 210px;
  height: 210px;
  left: 50%;
  top: -40px;
  border-radius: 50%;
  transform: translateX(-50%);
  z-index: -1;
  background-color: var(--primary);
}
.elementor-widget-organey-product-category .cat-image img {
  transition: all 0.3s ease;
}
.elementor-widget-organey-product-category .cat-title {
  text-align: center;
  margin-top: 15px;
}
.elementor-widget-organey-product-category .cat-title a {
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 5px;
  color: var(--accent);
}
.elementor-widget-organey-product-category .cat-title a:hover {
  color: var(--primary);
}
.elementor-widget-organey-product-category .cat-title .count {
  display: block;
  font-size: 15px;
  color: var(--text);
}
.elementor-widget-organey-product-category .elementor-product-category:hover .cat-image img {
  transform: scale(1.1);
}

.elementor-widget-organey-products-single .single-product div.product p.price {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 600;
}
.elementor-widget-organey-products-single .single-product div.product p.price del {
  font-weight: 400;
}
.elementor-widget-organey-products-single .single-product div.product p.price ins {
  font-weight: 600;
}
.elementor-widget-organey-products-single .single-product div.product .time-sale {
  background: transparent;
  margin: 0;
  padding: 10px 0;
}
.elementor-widget-organey-products-single .single-product div.product .time-sale .deal-text {
  margin-right: 10px;
}
.elementor-widget-organey-products-single .single-product div.product .product_title {
  display: block;
  margin-top: 40px;
}
.elementor-widget-organey-products-single .single-product div.product .add_to_cart_button {
  height: 56px;
  line-height: 56px;
  padding-top: 0;
  padding-bottom: 0;
  border-radius: 30px;
  margin-bottom: 20px;
  margin-right: 0;
}
@media (min-width: 1400px) {
  .elementor-widget-organey-products-single .single-product div.product .add_to_cart_button {
    float: left;
    margin-bottom: 0;
    margin-right: 15px;
  }
}
@media (max-width: 768px) {
  .elementor-widget-organey-products-single .single-product div.product .add_to_cart_button {
    height: 48px;
    line-height: 48px;
  }
}
@media (max-width: 768px) {
  .elementor-widget-organey-products-single .single-product div.product.organey-elementor-single-product .summary {
    padding: 30px 15px 0;
    margin-bottom: 0;
  }
}
.elementor-widget-organey-products-single .woocommerce-loop-product__title {
  font-weight: 600;
  line-height: 40px;
  font-size: 30px;
}
@media (max-width: 768px) {
  .elementor-widget-organey-products-single .woocommerce-loop-product__title {
    line-height: 30px;
    font-size: 20px;
  }
}
.elementor-widget-organey-products-single .woocommerce-loop-product__title a {
  color: var(--dark);
}
.elementor-widget-organey-products-single .short-description {
  font-size: 16px;
  line-height: 26px;
  color: #838685;
}
.elementor-widget-organey-products-single .short-description ul, .elementor-widget-organey-products-single .short-description ol {
  margin-left: 20px;
}
.elementor-widget-organey-products-single .woosw-btn {
  position: relative;
  font-size: 0;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
  margin-top: 10px;
  text-align: center;
  border: 1px solid;
  border-color: var(--border);
}
.elementor-widget-organey-products-single .woosw-btn:before {
  font-family: "organey-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  content: "\e076";
  font-size: 20px;
  display: block;
  color: var(--text);
  line-height: 60px;
}
.elementor-widget-organey-products-single .woosw-btn:hover {
  border-color: var(--primary);
}
.elementor-widget-organey-products-single .woosw-btn:hover:before {
  color: var(--primary);
}
.elementor-widget-organey-products-single .woosw-btn.woosw-adding:before {
  opacity: 0;
}
.elementor-widget-organey-products-single .woosw-btn.woosw-adding::after {
  font-family: "organey-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  content: "\e08d";
  animation: fa-spin 0.75s linear infinite;
  height: 20px;
  width: 20px;
  line-height: 20px;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  display: block;
}

.organey-elementor-single-product {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.organey-elementor-single-product .thumbnails,
.organey-elementor-single-product .summary {
  width: 100%;
}
@media (min-width: 768px) {
  .organey-elementor-single-product .thumbnails,
.organey-elementor-single-product .summary {
    width: 50%;
  }
}
.organey-elementor-single-product .summary {
  padding: 40px 15px;
}
@media (min-width: 1024px) {
  .organey-elementor-single-product .summary {
    padding: 40px 80px;
  }
}

a.elementor-button, button.elementor-button {
  line-height: initial;
}

.hfe-site-logo-container img {
  display: inline-block;
}

.site-header-wishlist {
  position: relative;
}
.site-header-wishlist .header-wishlist:hover i {
  color: var(--primary);
}
.site-header-wishlist .header-wishlist i {
  font-size: 23px;
  line-height: 1;
  vertical-align: middle;
  color: var(--accent);
}
.site-header-wishlist .header-wishlist .count {
  min-width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 10px;
  font-weight: 600;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  bottom: -6px;
  left: 10px;
  color: #ffffff;
  background-color: var(--primary);
}

.hide-count-wishlist-yes .site-header-wishlist .header-wishlist .count {
  display: none;
}

.wpcf7-form label {
  margin-bottom: 0.625em;
  color: var(--accent);
  text-transform: uppercase;
  display: block;
}
.wpcf7-form input:not([type=submit]), .wpcf7-form textarea {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  color: var(--accent);
  background-color: #fff;
  border-color: var(--border);
  padding: 0.7em 1.3em;
  margin-bottom: 1.2rem;
}
.wpcf7-form input:not([type=submit]):focus, .wpcf7-form textarea:focus {
  border-color: var(--primary);
}
.wpcf7-form input[type=submit] {
  min-width: 190px;
  display: block;
  background-color: var(--primary);
  border-color: var(--primary);
  padding: 1.3em 3em;
  color: #ffffff;
  margin-top: 20px;
}
.wpcf7-form input[type=submit]:hover {
  border-color: var(--accent);
}
@media (max-width: 767px) {
  .wpcf7-form input[type=submit] {
    margin-left: auto;
    margin-right: auto;
  }
}
.wpcf7-form .row-inline {
  padding-left: 15px;
  padding-right: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.elementor-widget-organey-banner .elementor-cta__content {
  position: relative;
}
.elementor-widget-organey-banner .elementor-cta__bg-overlay {
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  left: 0;
  background-color: var(--accent);
}
.elementor-widget-organey-banner i {
  font-size: 10px;
}
.elementor-widget-organey-banner.content-stretch-yes {
  height: 100%;
}
.elementor-widget-organey-banner.content-stretch-yes .elementor-widget-container, .elementor-widget-organey-banner.content-stretch-yes .elementor-shopic-banner {
  height: 100%;
}
.elementor-widget-organey-banner.heading-decor-yes .elementor-cta__title {
  width: unset;
  position: relative;
}
.elementor-widget-organey-banner.heading-decor-yes .elementor-cta__title:before {
  content: "";
  position: absolute;
  width: 4px;
  height: 0;
  background-color: var(--primary);
  top: 0;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.elementor-widget-organey-banner.heading-decor-yes.box-align-left .elementor-cta__content {
  justify-content: flex-start;
}
.elementor-widget-organey-banner.heading-decor-yes.box-align-left .elementor-cta__title:before {
  left: 0;
}
.elementor-widget-organey-banner.heading-decor-yes.box-align-left .elementor-shopic-banner:hover .elementor-cta__title {
  padding-left: 20px;
}
.elementor-widget-organey-banner.heading-decor-yes.box-align-left .elementor-shopic-banner:hover .elementor-cta__title:before {
  height: 100%;
}
.elementor-widget-organey-banner.heading-decor-yes.box-align-center .elementor-cta__content {
  justify-content: center;
}
.elementor-widget-organey-banner.heading-decor-yes.box-align-center .elementor-cta__title:before {
  left: 0;
}
.elementor-widget-organey-banner.heading-decor-yes.box-align-center .elementor-shopic-banner:hover .elementor-cta__title {
  padding-left: 20px;
}
.elementor-widget-organey-banner.heading-decor-yes.box-align-center .elementor-shopic-banner:hover .elementor-cta__title:before {
  height: 100%;
}
.elementor-widget-organey-banner.heading-decor-yes.box-align-right .elementor-cta__content {
  justify-content: flex-end;
}
.elementor-widget-organey-banner.heading-decor-yes.box-align-right .elementor-cta__title:before {
  right: 0;
}
.elementor-widget-organey-banner.heading-decor-yes.box-align-right .elementor-shopic-banner:hover .elementor-cta__title {
  padding-right: 15px;
}
.elementor-widget-organey-banner.heading-decor-yes.box-align-right .elementor-shopic-banner:hover .elementor-cta__title:before {
  height: 100%;
}
.elementor-widget-organey-banner.button-style-yes a {
  position: relative;
}
.elementor-widget-organey-banner.button-style-yes a:before {
  content: "";
  display: inline-block;
  position: absolute;
  height: 1px;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: #fff;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.elementor-widget-organey-banner.button-style-yes a:hover:before {
  width: 100%;
}
.elementor-widget-organey-banner .elementor-cta__content-item:not(:last-child) {
  margin-bottom: 0;
}
.elementor-widget-organey-banner:hover .elementor-cta__bg-overlay {
  opacity: 0.5;
}
.elementor-widget-organey-banner:hover .elementor-cta__bg {
  -ms-transition: transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transition: transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1);
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.elementor-widget-organey-banner:hover .elementor-animated-item--move-up-2.elementor-cta__button-wrapper {
  height: 60px;
}
.elementor-widget-organey-banner .elementor-button-custom:before {
  -ms-transition: transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  -moz-transition: transform 0.2s ease;
  -webkit-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
}
.elementor-widget-organey-banner.graphic-image-effect-yes .elementor-cta__image {
  position: absolute;
  right: 0;
  top: 30px;
  width: 50%;
}
.elementor-widget-organey-banner.graphic-image-effect-yes .elementor-cta__image > img {
  position: absolute;
  z-index: -1;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.elementor-widget-organey-banner.graphic-image-effect-yes .image-behind img {
  position: relative;
  top: 15px;
  right: 25px;
}
.elementor-widget-organey-banner.graphic-image-effect-yes:hover .elementor-cta__image > img {
  transform: scale(1.2);
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.elementor-animated-item--move-up-2.elementor-cta__button-wrapper {
  height: 0;
  overflow: hidden;
}

.elementor-bg-transform-move-left-custom .elementor-bg {
  width: calc(100% + 50px);
}
.elementor-bg-transform-move-left-custom:hover .elementor-bg {
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
}

.elementor-bg-transform-move-right-custom .elementor-bg {
  width: calc(100% + 50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
}
.elementor-bg-transform-move-right-custom:hover .elementor-bg {
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.elementor-bg-transform-zoom-in .elementor-bg {
  width: calc(100% + 50px);
  -ms-transform: translateX(-50px);
  -o-transform: translateX(-50px);
  -moz-transform: translateX(-50px);
  -webkit-transform: translateX(-50px);
  transform: translateX(-50px);
}
.elementor-bg-transform-zoom-in:hover .elementor-bg {
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.elementor-bg-transform-zoom-out .elementor-bg {
  width: calc(100% + 50px);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.elementor-bg-transform-zoom-out:hover .elementor-bg {
  -ms-transform: scale(1);
  -o-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.elementor-cta {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.elementor-cta--skin-classic .elementor-cta {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.elementor-cta--skin-classic .elementor-cta__bg-wrapper {
  position: relative;
  min-height: 200px;
  width: 100%;
}
.elementor-cta--skin-classic .elementor-cta__content {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  width: 100%;
  background-color: #f7f7f7;
}
.elementor-cta--skin-classic .elementor-cta__content-item, .elementor-cta--skin-classic .elementor-cta__content-item .elementor-icon {
  color: #55595c;
  border-color: #55595c;
}
.elementor-cta--skin-classic .elementor-cta__button.elementor-button {
  color: #55595c;
  border-color: #55595c;
}

.elementor-cta--skin-cover .elementor-cta {
  display: block;
}
.elementor-cta--skin-cover .elementor-cta__bg-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  width: 100%;
}
.elementor-cta--skin-cover .elementor-cta__content {
  min-height: 280px;
}
.elementor-cta--skin-cover .elementor-cta__content-item, .elementor-cta--skin-cover .elementor-cta--skin-cover .elementor-cta__content-item .elementor-icon {
  color: #fff;
  border-color: #fff;
}
.elementor-cta--skin-cover .elementor-cta__button.elementor-button {
  color: white;
  border-color: white;
}

.elementor-cta--layout-image-above .elementor-cta {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.elementor-cta--layout-image-above .elementor-cta__bg-wrapper {
  width: 100%;
}

.elementor-cta--layout-image-left .elementor-cta, .elementor-cta--layout-image-right .elementor-cta {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.elementor-cta--layout-image-left .elementor-cta__bg-wrapper, .elementor-cta--layout-image-right .elementor-cta__bg-wrapper {
  width: auto;
  min-width: 50%;
}

.elementor-cta--layout-image-left .elementor-cta__content, .elementor-cta--layout-image-right .elementor-cta__content {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.elementor-cta--layout-image-left .elementor-cta {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.elementor-cta--layout-image-right .elementor-cta {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.elementor-cta__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 105%;
  transition: transform calc(700ms * 1.5) cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.3s ease;
}

.elementor-cta__bg-wrapper {
  z-index: 1;
  overflow: hidden;
}

.elementor-cta__bg {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.elementor-cta__bg-overlay {
  z-index: 2;
}

.elementor-cta__button.elementor-button {
  cursor: pointer;
  -ms-flex-item-align: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  border: solid 2px white;
  background: transparent;
}

.elementor-cta__button.elementor-button:hover {
  background: transparent;
  text-decoration: none;
}

.elementor-cta__title {
  font-size: 23px;
}

.elementor-cta__content {
  z-index: 1;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  padding: 35px;
  width: 100%;
}

.elementor-cta__content, .elementor-cta__content-item {
  position: relative;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
}

.elementor-cta__content-item {
  width: 100%;
  margin: 0;
}

.elementor-cta__content-item:not(:last-child) {
  margin-bottom: 15px;
}

.elementor-cta__content-item .elementor-icon {
  color: #fff;
}

.elementor-cta--valign-top .elementor-cta__content {
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.elementor-cta--valign-middle .elementor-cta__content {
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.elementor-cta--valign-bottom .elementor-cta__content {
  -ms-flex-line-pack: end;
  align-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@media (max-device-width: 1024px) {
  .elementor-cta {
    cursor: pointer;
  }
}
@media (min-width: 1025px) {
  .elementor-cta--desktop-layout-image-above .elementor-cta {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .elementor-cta--desktop-layout-image-above .elementor-cta__bg-wrapper {
    width: 100%;
  }

  .elementor-cta--desktop-layout-image-left .elementor-cta, .elementor-cta--desktop-layout-image-right .elementor-cta {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .elementor-cta--desktop-layout-image-left .elementor-cta__bg-wrapper, .elementor-cta--desktop-layout-image-right .elementor-cta__bg-wrapper {
    width: auto;
    min-width: 50%;
  }

  .elementor-cta--desktop-layout-image-left .elementor-cta__content, .elementor-cta--desktop-layout-image-right .elementor-cta__content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .elementor-cta--desktop-layout-image-left .elementor-cta {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .elementor-cta--desktop-layout-image-right .elementor-cta {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}
@media (max-width: 1024px) {
  .elementor-cta--tablet-layout-image-above .elementor-cta {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .elementor-cta--tablet-layout-image-above .elementor-cta__bg-wrapper {
    width: 100%;
  }

  .elementor-cta--tablet-layout-image-left .elementor-cta, .elementor-cta--tablet-layout-image-right .elementor-cta {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .elementor-cta--tablet-layout-image-left .elementor-cta__bg-wrapper, .elementor-cta--tablet-layout-image-right .elementor-cta__bg-wrapper {
    width: auto;
    min-width: 50%;
  }

  .elementor-cta--tablet-layout-image-left .elementor-cta__content, .elementor-cta--tablet-layout-image-right .elementor-cta__content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .elementor-cta--tablet-layout-image-left .elementor-cta {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .elementor-cta--tablet-layout-image-right .elementor-cta {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}
@media (max-width: 767px) {
  .elementor-cta--mobile-layout-image-above .elementor-cta {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .elementor-cta--mobile-layout-image-above .elementor-cta__bg-wrapper {
    width: 100%;
  }

  .elementor-cta--mobile-layout-image-left .elementor-cta, .elementor-cta--mobile-layout-image-right .elementor-cta {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .elementor-cta--mobile-layout-image-left .elementor-cta__bg-wrapper, .elementor-cta--mobile-layout-image-right .elementor-cta__bg-wrapper {
    width: auto;
    min-width: 50%;
  }

  .elementor-cta--mobile-layout-image-left .elementor-cta__content, .elementor-cta--mobile-layout-image-right .elementor-cta__content {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .elementor-cta--mobile-layout-image-left .elementor-cta {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .elementor-cta--mobile-layout-image-right .elementor-cta {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}
.site-header-cart-side .widget_shopping_cart {
  margin-bottom: 0;
  position: relative;
  flex: 1 1 auto;
  display: flex;
}
.site-header-cart-side .widget_shopping_cart .woocommerce-mini-cart__empty-message {
  text-align: center;
  font-size: 16px;
  margin: 15px;
}
.site-header-cart-side .widget_shopping_cart .woocommerce-mini-cart__empty-message:before {
  font-family: "organey-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  content: "\e060";
  text-align: center;
  display: block;
  font-size: 120px;
  color: var(--light);
}
.site-header-cart-side .widget_shopping_cart .widget_shopping_cart_content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.site-header-cart-side .widget_shopping_cart .woocommerce-mini-cart__total {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header-cart-side .widget_shopping_cart .woocommerce-mini-cart-scroll {
  position: relative;
  flex: 1 1 auto;
  overflow-y: auto;
  padding-right: 15px;
  margin-right: -15px;
}
.site-header-cart-side .widget_shopping_cart .product_list_widget {
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  left: 0;
}
.site-header-cart-side .widget_shopping_cart .product_list_widget li {
  padding: 15px 45px 15px 15px;
  border-bottom: 1px solid;
  border-color: var(--border);
  margin-bottom: 0;
}
.site-header-cart-side .widget_shopping_cart .product_list_widget li:last-child {
  border-bottom: 0;
}
.site-header-cart-side .widget_shopping_cart .product_list_widget li img {
  max-width: 80px;
  border: 1px solid var(--border);
}
.site-header-cart-side .widget_shopping_cart .product_list_widget li a.remove {
  top: 15px;
  right: 19px;
}
.site-header-cart-side .widget_shopping_cart p.total strong {
  font-weight: 600;
  font-size: 20px;
}
.site-header-cart-side .widget_shopping_cart .buttons {
  padding: 0 15px;
}
.site-header-cart-side .widget_shopping_cart .buttons a {
  border: 2px solid;
  border-color: var(--border);
  margin-top: 15px;
  margin-bottom: 20px;
}
.site-header-cart-side .widget_shopping_cart .buttons a.wc-forward {
  border: 2px solid;
  border-color: var(--border);
}
.site-header-cart-side .widget_shopping_cart .buttons a.wc-forward:hover {
  border-color: var(--primary);
}
.site-header-cart-side .widget_shopping_cart .buttons a.checkout {
  margin-top: 0;
  border-color: var(--primary);
}

.hide-count-cart-yes .site-header-cart .cart-contents .count {
  display: none;
}

.hide-price-cart-yes .site-header-cart .cart-contents .amount {
  display: none;
}

.footer-handheld a {
  display: block;
  color: var(--accent);
  text-align: center;
  padding: 10px 5px;
}
.footer-handheld .title {
  font-weight: 600;
  font-size: 12px;
  display: block;
}
.footer-handheld i {
  font-size: 20px;
  display: block;
  margin-bottom: -2px;
}
.footer-handheld .count {
  text-indent: 0;
  display: block;
  width: 2em;
  height: 2em;
  line-height: 2;
  box-sizing: content-box;
  font-size: 0.75em;
  position: absolute;
  top: 0.5em;
  left: 50%;
  border-radius: 100%;
  border: 1px solid;
  background-color: var(--primary);
  color: #fff;
}

.elementor-widget-organey-mailchmip form {
  margin-bottom: 0;
}
.elementor-widget-organey-mailchmip .mc4wp-form-fields {
  display: flex;
  flex-wrap: wrap;
}
.elementor-widget-organey-mailchmip .mc4wp-form-fields p {
  margin-bottom: 0;
}
.elementor-widget-organey-mailchmip .mc4wp-form-fields input {
  border-radius: 2em;
}
.elementor-widget-organey-mailchmip .mc4wp-form-fields input[type=email] {
  flex: 1;
  padding: 11.5px 20px;
  margin-right: 8px;
}
.elementor-widget-organey-mailchmip .mc4wp-form-fields input[type=email]::placeholder {
  font-size: 14px;
  color: var(--light);
}
.elementor-widget-organey-mailchmip .mc4wp-form-fields input[type=submit] {
  font-size: 14px;
  font-weight: 600;
  padding: 12.5px 25px;
  border-color: var(--primary);
}
.elementor-widget-organey-mailchmip .mc4wp-form-fields input[type=submit]:hover {
  border-color: var(--primary_hover);
}
@media (max-width: 567px) {
  .elementor-widget-organey-mailchmip input[type=email] {
    margin-right: 0;
  }
  .elementor-widget-organey-mailchmip input[type=submit] {
    width: 100%;
  }
}

.mc4wp-response {
  color: #000000;
}
.mc4wp-response a {
  color: #000000;
}

.elementor-widget-container .elementor-teams-wrapper {
  line-height: 1.5em;
}
.elementor-widget-container .elementor-teams-wrapper .team-image {
  display: inline-block;
  position: relative;
  margin-bottom: 13px;
}
.elementor-widget-container .elementor-teams-wrapper .team-image img {
  margin-bottom: 0;
}
.elementor-widget-container .elementor-teams-wrapper .team-icon-socials {
  opacity: 0;
  transition: all 0.3s ease;
  position: absolute;
  background: white;
  transform: translateY(-35px);
}
.elementor-widget-container .elementor-teams-wrapper .team-name {
  color: var(--accent);
  font-size: 20px;
  margin-bottom: 10px;
}
.elementor-widget-container .elementor-teams-wrapper .team-name a {
  color: var(--accent);
}
.elementor-widget-container .elementor-teams-wrapper .team-name a:hover {
  color: var(--primary);
}
.elementor-widget-container .elementor-teams-wrapper .team-name:hover {
  color: var(--primary);
}
.elementor-widget-container .elementor-teams-wrapper .team-job {
  color: var(--light);
  font-size: 14px;
}
.elementor-widget-container .elementor-teams-wrapper .team-icon-socials ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
}
.elementor-widget-container .elementor-teams-wrapper .team-icon-socials ul li.social {
  text-align: center;
  margin: 0 5px;
}
.elementor-widget-container .elementor-teams-wrapper .team-icon-socials ul li.social a {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
}
.elementor-widget-container .elementor-teams-wrapper .team-icon-socials ul li.social a:hover {
  border-color: var(--primary);
  color: var(--primary);
  transition: all 0.3s ease;
}
.elementor-widget-container .elementor-teams-wrapper .team-description {
  color: var(--text);
  font-weight: 500;
}
.elementor-widget-container .elementor-teams-wrapper:hover .team-icon-socials {
  transform: translateY(-50px);
  opacity: 1;
}

.elementor-teams-layout-social-right .elementor-widget-container .elementor-teams-wrapper .team-icon-socials {
  right: 0;
}
.elementor-teams-layout-social-right .elementor-widget-container .elementor-teams-wrapper .team-icon-socials ul {
  justify-content: flex-end;
  margin: 0 -5px;
}

.elementor-teams-layout-social-center .elementor-widget-container .elementor-teams-wrapper .team-icon-socials {
  margin: 0 auto;
  left: 0;
  right: 0;
}
.elementor-teams-layout-social-center .elementor-widget-container .elementor-teams-wrapper .team-icon-socials ul {
  justify-content: center;
}

.elementor-teams-layout-social-left .elementor-widget-container .elementor-teams-wrapper .team-icon-socials {
  left: 0;
}
.elementor-teams-layout-social-left .elementor-widget-container .elementor-teams-wrapper .team-icon-socials ul {
  justify-content: flex-start;
  margin: 0 -5px;
}

.breadcrumb-wrap {
  display: var(--page-title-display);
}

.organey-language-switcher ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 12px;
}
.organey-language-switcher span {
  color: var(--text);
  font-size: 14px;
  line-height: 1.4;
}
.organey-language-switcher .language-switcher-head i {
  font-weight: 700;
  font-size: 8px;
  margin-left: 5px;
}
.organey-language-switcher a {
  display: block;
}
.organey-language-switcher img {
  display: inline-block;
  margin-right: 5px;
}
.organey-language-switcher .item > div {
  display: flex;
  cursor: pointer;
  align-items: center;
}
.organey-language-switcher .item > div img {
  width: 16px;
  height: 16px;
  object-fit: cover;
  margin-right: 8px;
  border-radius: 50%;
}
.organey-language-switcher .sub-item {
  display: none;
  position: absolute;
  left: 0;
  z-index: 999;
  text-align: left;
  top: calc(100% + 1rem);
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.05);
}
.organey-language-switcher .sub-item:before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 1rem;
  top: -1rem;
}
.organey-language-switcher .sub-item a {
  padding: 0.875em 1.41575em;
  font-size: 0.875em;
  min-width: 126px;
  white-space: nowrap;
}
.organey-language-switcher .sub-item a:hover, .organey-language-switcher .sub-item a:focus {
  background-color: rgba(0, 0, 0, 0.05);
}
.organey-language-switcher li.item {
  position: relative;
}
.organey-language-switcher li.item > div span.title:after {
  margin-left: 0.5em;
  margin-top: -1px;
}
.organey-language-switcher li.item:hover .sub-item {
  display: block;
}

.language-switcher-style-hover-right-yes .organey-language-switcher .sub-item {
  right: 0;
  left: unset;
}

.nav-vertiacl-menu-layout-content-style-2 .elementor-nav-vertiacl-menu-wrapper .vertical-navigation .vertical-menu {
  opacity: 1;
  visibility: visible;
  z-index: 990;
}

.vertical-navigation {
  position: relative;
  background-color: var(--primary);
  height: 100%;
  border-radius: 8px 8px 0 0;
  transition: all 0.1s ease;
}
.vertical-navigation .vertical-navigation-header {
  font-size: 14px;
  padding: 16px 25px;
  font-weight: 600;
  color: #fff;
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
}
.vertical-navigation .vertical-navigation-header i {
  font-size: 18px;
  vertical-align: middle;
  line-height: 1;
  margin-right: 15px;
}
.vertical-navigation .vertical-navigation-header .vertical-navigation-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  line-height: 1;
}
.vertical-navigation .vertical-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.vertical-navigation .vertical-menu .menu {
  position: relative;
  list-style: none;
  margin: 0;
  border: 1px solid;
  border-color: var(--border);
  border-top: none;
  border-radius: 0 0 8px 8px;
  padding: 10px 0;
}
.vertical-navigation .vertical-menu .menu > li > a {
  position: relative;
  font-weight: 400;
  padding: 8px 25px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.vertical-navigation .vertical-menu .menu > li.has-mega-menu > a:after, .vertical-navigation .vertical-menu .menu > li.menu-item-has-children > a:after {
  font-family: "organey-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  content: "\e05a";
  float: right;
  line-height: 24px;
  color: var(--accent);
  float: right;
  margin-left: auto;
}
.vertical-navigation:hover {
  border-radius: 8px 8px 0 0 !important;
}
.vertical-navigation:hover .vertical-menu {
  opacity: 1;
  visibility: visible;
  z-index: 99;
  transform: translateY(0);
}
.vertical-navigation ul.menu {
  list-style: none;
  margin: 0;
  background-color: #FFFFFF;
}
.vertical-navigation ul.menu .sub-menu {
  position: absolute;
  padding: 13px 0;
  left: 100%;
  top: 0;
  visibility: hidden;
  opacity: 0;
  list-style: none;
  margin: 0;
  background: #fff;
  width: 260px;
  border-radius: 0 8px 8px 0;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.07);
}
.vertical-navigation ul.menu .sub-menu > li {
  padding: 8px 20px 8px 25px;
}
.vertical-navigation ul.menu .sub-menu > li > a {
  color: var(--accent);
  position: relative;
  transition: all 0.3s ease;
}
.vertical-navigation ul.menu .sub-menu > li > a:before {
  content: "";
  width: 9px;
  height: 1px;
  background-color: var(--primary);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: 0;
  opacity: 0;
}
.vertical-navigation ul.menu .sub-menu > li:hover > a {
  color: var(--primary);
  padding-left: 15px;
}
.vertical-navigation ul.menu .sub-menu > li:hover > a:before {
  opacity: 1;
}
.vertical-navigation ul.menu .sub-menu > li.current-menu-item > a {
  color: var(--primary);
}
.vertical-navigation ul.menu > li {
  position: relative;
}
.vertical-navigation ul.menu > li:before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% - 50px);
  height: 1px;
  right: 0;
  left: 0;
  margin: 0 auto;
  bottom: 0;
  border-bottom: 1px solid var(--border);
}
.vertical-navigation ul.menu > li:last-child:before {
  display: none;
}
.vertical-navigation ul.menu > li > a {
  color: var(--accent);
  font-size: 14px;
  padding: 0.5em 20px;
  display: block;
}
.vertical-navigation ul.menu > li > a .menu-icon {
  font-size: 24px;
  margin-right: 15px;
  color: #838685;
}
.vertical-navigation ul.menu > li:hover > .sub-menu {
  opacity: 1;
  visibility: visible;
}
.vertical-navigation ul.menu > li:hover > a {
  color: var(--primary);
}
.vertical-navigation ul.menu > li:hover > a .menu-icon {
  color: var(--primary);
}
.vertical-navigation ul.menu > li:hover > a:after {
  color: var(--primary) !important;
}
.vertical-navigation ul.menu > li.current-menu-item > a {
  color: var(--primary);
}
.vertical-navigation ul.menu > li.current-menu-item > a .menu-icon {
  color: var(--primary);
}

.vertical-navigation .has-mega-menu .elementor-icon-list-item, .vertical-navigation.menu-item-has-children .elementor-icon-list-item {
  padding: 8px 20px 8px 25px;
  transition: all 0.3s ease;
}
.vertical-navigation .has-mega-menu .elementor-icon-list-item:before, .vertical-navigation.menu-item-has-children .elementor-icon-list-item:before {
  content: "";
  width: 9px;
  height: 1px;
  background-color: var(--primary);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  left: 25px;
  opacity: 0;
}
.vertical-navigation .has-mega-menu .elementor-icon-list-item .elementor-icon-list-text, .vertical-navigation.menu-item-has-children .elementor-icon-list-item .elementor-icon-list-text {
  color: var(--accent);
}
.vertical-navigation .has-mega-menu .elementor-icon-list-item:hover, .vertical-navigation.menu-item-has-children .elementor-icon-list-item:hover {
  padding-left: 40px;
}
.vertical-navigation .has-mega-menu .elementor-icon-list-item:hover:before, .vertical-navigation.menu-item-has-children .elementor-icon-list-item:hover:before {
  opacity: 1;
}
.vertical-navigation .has-mega-menu .elementor-icon-list-item:hover .elementor-icon-list-text, .vertical-navigation.menu-item-has-children .elementor-icon-list-item:hover .elementor-icon-list-text {
  color: var(--primary);
}

.elementor-testimonial-item .inner {
  background-color: #fff;
  padding: 40px;
}
.elementor-testimonial-item .content {
  font-size: 16px;
  color: var(--accent);
  margin-bottom: 25px;
}
.elementor-testimonial-item .details {
  display: flex;
  align-items: center;
}
.elementor-testimonial-item .details .name {
  font-weight: 700;
  color: var(--accent);
  margin-right: 8px;
  font-size: 18px;
}
.elementor-testimonial-item .details .job {
  font-size: 14px;
}

.elementor-testimonial-style-1 .elementor-testimonial-item .inner {
  padding: 0 40px 40px;
}
.elementor-testimonial-style-1 .elementor-testimonial-item .elementor-testimonial-image {
  margin-bottom: 5px;
  transform: translateY(-50%);
  position: relative;
}
.elementor-testimonial-style-1 .elementor-testimonial-item .elementor-testimonial-image:after {
  content: "\e085";
  font-family: "organey-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  color: var(--primary);
  position: absolute;
  right: 0;
  font-size: 40px;
  transform: translateY(-50%);
}

.elementor-testimonial-style-2 .elementor-testimonial-item .testimonial-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.elementor-testimonial-style-2 .elementor-testimonial-item .testimonial-content .elementor-testimonial-image {
  margin-right: 25px;
}
@media (max-width: 500px) {
  .elementor-testimonial-style-2 .elementor-testimonial-item .testimonial-content .elementor-testimonial-image {
    width: 100%;
  }
}
.elementor-testimonial-style-2 .elementor-testimonial-item .testimonial-content .content {
  flex: 1;
  margin-bottom: 0;
}
.elementor-testimonial-style-2 .elementor-testimonial-item .testimonial-content .testimonial-caption {
  width: 100%;
  margin-top: 25px;
}

.elementor-testimonial-style-3 .elementor-testimonial-item .testimonial-content {
  position: relative;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
}
.elementor-testimonial-style-3 .elementor-testimonial-item .testimonial-content:after {
  content: "\e085";
  font-family: "organey-icon";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  color: var(--primary);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 40px;
}
.elementor-testimonial-style-3 .elementor-testimonial-item .elementor-testimonial-image {
  margin-bottom: 20px;
}
.elementor-testimonial-style-3 .elementor-testimonial-item .content {
  order: -1;
  font-size: 20px;
}
.elementor-testimonial-style-3 .elementor-testimonial-item .details {
  display: block;
  align-items: inherit;
}

.elementor-widget-organey-countdown .elementor-organey-countdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  margin-right: auto;
  margin-left: auto;
}
.elementor-widget-organey-countdown .elementor-countdown-item {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 100%;
}
.elementor-widget-organey-countdown.countdown-style-1 .elementor-countdown-item {
  font-size: 24px;
  font-weight: 600;
}
.elementor-widget-organey-countdown.countdown-style-1 .elementor-countdown-item:not(:last-child):after {
  content: "\3a";
  margin: 0 5px;
  font-size: 16px;
}
.elementor-widget-organey-countdown.countdown-style-2 .elementor-countdown-item {
  flex-direction: column;
  justify-content: center;
  padding: 0 16px;
}
.elementor-widget-organey-countdown.countdown-style-2 .elementor-countdown-item:not(:last-child):after {
  content: "\3a";
  position: absolute;
  top: 15px;
  right: 0;
  color: var(--primary);
}
.elementor-widget-organey-countdown.countdown-style-2 .elementor-countdown-item .elementor-countdown-digits {
  font-size: 30px;
  font-weight: 600;
}
.elementor-widget-organey-countdown.countdown-style-2 .elementor-countdown-item .elementor-countdown-label {
  font-size: 18px;
}

.elementor-brand-item {
  text-align: center;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.elementor-brand-item .elementor-brand-image {
  display: block;
  width: 100%;
  font-size: 0;
  transition: all ease 0.3s;
}
.elementor-brand-item .elementor-brand-image img {
  margin: 0 auto;
}
.elementor-brand-item .elementor-brand-image i {
  font-size: 50px;
  display: inline-block;
  position: relative;
  width: 1em;
  height: 1em;
}
.elementor-brand-item .elementor-brand-image i:before {
  position: absolute;
  line-height: 1;
  left: 0;
  top: 0;
}
.elementor-brand-item .elementor-brand-image svg path {
  transition: all ease 0.3s;
}

.elementor-brand-wrapper .row {
  justify-content: center;
}
.elementor-brand-wrapper a {
  display: block;
}
.elementor-brand-wrapper img {
  transition: all ease 0.3s;
}
.elementor-brand-wrapper .column-item {
  margin-bottom: 30px;
}
.elementor-brand-wrapper .slick-slide {
  position: relative;
}
.elementor-brand-wrapper .slick-slide:before {
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background: #ebebeb;
  position: absolute;
}
.elementor-brand-wrapper .slick-slide:last-child:before {
  content: none !important;
}

.organey-brand-border-yes .elementor-brand-wrapper {
  border-top: 1px solid;
  border-top-color: var(--border);
  border-bottom: 1px solid;
  border-bottom-color: var(--border);
}
.organey-brand-border-yes .elementor-brand-wrapper .elementor-brand-item:before {
  content: "";
  display: inline-block;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: var(--border);
  position: absolute;
}
.organey-brand-border-yes .elementor-brand-wrapper .elementor-brand-item:last-child:before {
  content: none !important;
}
.organey-brand-border-yes .elementor-brand-wrapper .slick-slide {
  position: relative;
}
.organey-brand-border-yes .elementor-brand-wrapper .slick-slide:before {
  content: "";
  display: inline-block;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: var(--border);
  position: absolute;
}
.organey-brand-border-yes .elementor-brand-wrapper .slick-slide:last-child:before {
  content: none !important;
}

.elementor_library-template-default .entry-header,
.elementor_library-template-default #post-navigation,
.elementor_library-template-default .entry-taxonomy {
  display: none;
}

.header-absolute {
  position: absolute !important;
  width: 100%;
  z-index: 99 !important;
  background: transparent !important;
}

.sticky-header {
  --header-height: 80px;
  --opacity: 1;
  --shrink-me: 0.8;
  --sticky-background-color: #fff;
  --transition: .3s ease-in-out;
  transition: background-color var(--transition), background-image var(--transition), backdrop-filter var(--transition), opacity var(--transition);
}

.sticky-header.elementor-sticky--effects {
  /*position: fixed !important;*/
  background-color: var(--sticky-background-color) !important;
  background-image: none !important;
  opacity: var(--opacity) !important;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0px 1px 20px 0px rgba(171, 179, 194, 0.4);
}

.sticky-header > .elementor-container {
  transition: min-height var(--transition);
}

.sticky-header.elementor-sticky--effects > .elementor-container {
  min-height: calc(var(--header-height) * var(--shrink-me)) !important;
  height: calc(var(--header-height) * var(--shrink-me));
}

.sticky-header .elementor-nav-menu .elementor-item {
  transition: padding var(--transition);
}

.sticky-header.elementor-sticky--effects .elementor-nav-menu .elementor-item {
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}

.sticky-header > .elementor-container .logo img {
  transition: max-width var(--transition);
}

.sticky-header.elementor-sticky--effects .logo img {
  max-width: calc(100% * var(--shrink-me));
}

:root {
  --scroll-bar: 8px;
}

body:not(.has-scrollbar) .content-area .elementor-section.elementor-section-stretched {
  width: 100vw !important;
  margin-left: calc(-50vw + 50%) !important;
  margin-right: calc(-50vw + 50%) !important;
  left: 0 !important;
}

body.has-scrollbar .content-area .elementor-section.elementor-section-stretched {
  width: calc(100vw - 20px) !important;
  margin-left: calc(-50vw + 50% + 10px) !important;
  margin-right: calc(-50vw + 50% + 10px);
  left: 0 !important;
}

@supports (color: var(--scroll-bar)) {
  body.has-scrollbar .content-area .elementor-section.elementor-section-stretched {
    width: calc(100vw - var(--scroll-bar)) !important;
    margin-left: calc(-50vw + 50% + (var(--scroll-bar) / 2)) !important;
    margin-right: calc(-50vw + 50% + (var(--scroll-bar) / 2)) !important;
    left: 0 !important;
  }
}
.elementor-text-editor a:hover {
  color: var(--primary_hover);
}

.elementor-widget-icon-list .elementor-icon-list-item a {
  align-items: center;
}
.elementor-widget-icon-list .elementor-icon-list-icon {
  line-height: 1;
}
.elementor-widget-icon-list .elementor-icon-list-icon i {
  text-align: center;
}

.elementor-widget-counter .elementor-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.elementor-widget-counter .elementor-counter-number-wrapper {
  margin-right: 15px;
}
.elementor-widget-counter .elementor-counter-title {
  text-align: left;
}

/*# sourceMappingURL=elementor.css.map */
