// Animations
@keyframes slideInDown {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
}

@keyframes slideOutUp {
    from {
        transform: translate3d(0, 100%, 0);
        visibility: hidden;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

.price {
    font-size: 16px;
    ins {
        @include opal-color(primary);
        font-weight: 600;
    }

    del {
        @include opal-color(light);
        font-size: 0.875em;
        font-weight: 400;
        & + ins {
            margin-left: 0.327em;
        }
    }
}

/**
 * Shop tables
 */
table.shop_table_responsive {
    thead {
        display: none;
    }

    tbody {
        th {
            display: none;
        }
    }

    tr {
        td {

            @include clearfix;

            display: block;
            text-align: right;
            clear: both;

            &[data-title] {
                &::before {
                    content: attr(data-title) ': ';
                    font-weight: 600;
                    float: left;
                }
            }

            &.product-remove {
                a {
                    text-align: left;
                }
            }

            &.actions,
            &.download-actions {
                &::before {
                    display: none;
                }
            }

            &.download-actions {
                .button {
                    display: block;
                    text-align: center;
                }
            }
        }
    }

    &.my_account_orders {
        .order-actions {
            text-align: right;

            &::before {
                display: none;
            }
        }
    }
}

/**
 * Breadcrumbs
 */

/**
 * Right to left styles
 */

/*!rtl:begin:ignore*/
.rtl {
    .widget_price_filter {
        .price_label,
        .price_label span {
            direction: ltr;
            unicode-bidi: embed;
        }
    }
}

/*!rtl:end:ignore*/

/**
 * General WooCommerce components
 */

.woocommerce-form__label-for-checkbox {
    cursor: pointer;
    display: block;

    .woocommerce-form__input-checkbox {
        margin-right: ms(-5);
    }
}

.select2-dropdown {
    border: 2px solid;
    @include opal-border-color(border);
}

.form-row {
    label {
        @include opal-color(heading);
        display: block;
        margin-bottom: 0.5em;
    }

    // Select 2
    .select2-container--default .select2-selection--single {
        font-size: 14px;
        border: 1px solid;
        @include opal-border-color(border);
        border-radius: $border-radius;
        min-height: 47px;
        @include opal-background-color(background);

        .select2-selection__rendered {
            line-height: 47px;
            @include opal-color(body);
        }

        .select2-selection__arrow {
            height: 47px;
        }
    }

    .select2-container--default .select2-search--dropdown .select2-search__field {
        background: #fff !important;
    }

    input,
    textarea,
    select {
        width: 100%;
    }

    input[type=checkbox],
    input[type=radio] {
        width: auto;
    }

    .button {
        width: auto;
    }

    &.create-account {
        label {
            display: inline-block;
        }
    }

    &.woocommerce-validated {
        input.input-text {
            box-shadow: inset 2px 0 0 $success;
        }
    }

    &.woocommerce-invalid {
        input.input-text {
            box-shadow: inset 2px 0 0 $error;
        }

        input.input-checkbox {
            outline: 2px solid $error;
            outline-offset: 1px;
        }

        .select2-selection {
            border-color: $error;
            border-width: 2px;
        }
    }
}

.form-row-last {
    margin-right: 0 !important;
}

.form-row-wide {
    clear: both;
    width: 100%;
}

.required {
    border-bottom: 0 !important;
    color: $error;
}

.demo_store {
    position: fixed;
    left: 0;
    bottom: 69px;
    right: 0;
    margin: 0;
    padding: 1em ms(2);
    background-color: $info;
    color: #fff;
    z-index: 9998;

    a {
        color: #fff;
        font-weight: 400;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }

        &.woocommerce-store-notice__dismiss-link {
            display: block;
        }
    }
}

.star-rating {
    overflow: hidden;
    position: relative;
    height: 1.618em;
    line-height: 1.618;
    font-size: 12px;
    width: 6.3em;
    font-family: 'star';
    font-weight: 400;

    &::before {
        content: '\53\00a0\53\00a0\53\00a0\53\00a0\53';
        opacity: 0.25;
        float: left;
        top: 0;
        left: 0;
        position: absolute;
    }

    span {
        overflow: hidden;
        float: left;
        top: 0;
        left: 0;
        position: absolute;
        padding-top: 1.5em;
    }

    span::before {
        content: '\53\00a0\53\00a0\53\00a0\53\00a0\53';
        top: 0;
        position: absolute;
        left: 0;
        color: #F5B400;
    }
}

p.stars {
    display: inline-block;
    margin: 0;

    a {
        position: relative;
        height: 1em;
        width: 1em;
        text-indent: -999em;
        display: inline-block;
        text-decoration: none;
        margin-right: 1px;
        font-weight: 400;

        &::before {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 1em;
            height: 1em;
            line-height: 1;
            font-family: 'star';
            content: '\53';
            @include opal-color(body);
            text-indent: 0;
            opacity: 0.25;
        }

        &:hover {
            ~ a::before {
                content: '\53';
                @include opal-color(body);
                opacity: 0.25;
            }
        }
    }

    &:hover {
        a {
            &::before {
                content: '\53';
                color: var(--primary);
                opacity: 1;
            }
        }
    }

    &.selected {
        a.active {
            &::before {
                content: '\53';
                color: var(--primary);
                opacity: 1;
            }

            ~ a::before {
                content: '\53';
                @include opal-color(body);
                opacity: 0.25;
            }
        }

        a:not( .active ) {
            &::before {
                content: '\53';
                color: var(--primary);
                opacity: 1;
            }
        }
    }
}

.wc-block-grid__product-onsale,
.onsale {
    padding: 0 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    color: #fff;
    background-color: #F14E18;
    border-radius: 12px 0;
}

.quantity {
    .qty {
        width: ms(7);
        text-align: center;
    }
}

.organey-sorting {
    margin-bottom: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 15px;
    border-radius: 12px;
    background: #f5f5f5;

    > * {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .woocommerce-notices-wrapper {
        width: 100%;
    }

    .gridlist-toggle {
        order: 0;
    }

    .woocommerce-result-count {
        order: 2;
    }

    .woocommerce-pagination {
        order: 3;
        margin-left: auto;
        @include susy-media(max-width $tablet - 1) {
            margin-right: auto;
            margin-left: 0;
        }
    }

    .woocommerce-ordering {
        order: 1;
        margin-right: 15px;
        position: relative;

        select {
            @include opal-color(body);
            border: 0;
            padding: 3px 15px 3px 15px;
            background-color: #fff;
            border-radius: 30px;
        }
    }
}

@include susy-media($tablet) {
    .organey-sorting {
        select {
            width: auto;
        }

        .woocommerce-pagination + .woocommerce-result-count {
            margin-right: auto;
            margin-left: 0;
        }

        .woocommerce-result-count {
            margin-left: auto;
        }
    }
}

.organey-pagination-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .woocommerce-pagination {
        margin-left: auto;
    }

    > * {
        margin-top: 0;
        margin-bottom: 15px;
    }
}

.related,
.upsells {
    margin-top: 30px;
    > h2:first-child {
        font-size: 30px;
        margin-bottom: 5px;
        font-weight: 600;
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        text-align: center;

        @include susy-media(max-width ($handheld - 1)) {
            font-size: 24px;
        }

        &:after,
        &:before{
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            -webkit-box-flex: 1;
            -webkit-flex: 1;
            flex: 1;
            background: var(--border);
        }
        &:before{
            margin-right: 30px;
        }

        &:after{
            margin-left: 30px;

        }
    }

    @include susy-media($desktop) {
        ul.products li.product {
            margin-bottom: 0;
        }
    }

    .slick-list {
        margin: 0 -20px;
        padding: 20px;
        li.product {
            max-width: 100% !important;
        }
    }

    .slick-slider .slick-dots {
        position: static;
    }

    ul.products {
        display: none;

        &.slick-initialized {
            display: block;
            margin-top: -15px;
        }
    }

}

.related{
    .slick-list{
        padding-bottom: 0;
    }
}

.hentry {
    .woocommerce-message,
    .woocommerce-info,
    .woocommerce-error,
    .woocommerce-noreviews,
    p.no-comments {
        strong {
            color: #fff;
        }
    }
}


.woocommerce-message,
.woocommerce-info,
.woocommerce-error,
.woocommerce-noreviews,
p.no-comments {
    margin-top: 0;
    margin-bottom: 30px;
    padding: 1.3em ms(3) 1em;
    @include clearfix;
    background-color: $success;
    border-radius: 2px;
    color: #fff;
    clear: both;
    border-left: ms(-2) solid rgba(0, 0, 0, 0.15);
    a {
        color: #fff;

        &:hover {
            color: #fff;
            opacity: 0.7;
        }

        &.button:hover {
            opacity: 1;
        }
    }

    .button {
        float: right;
        padding: 0;
        background: none;
        color: #fff;
        box-shadow: none;
        line-height: 1.618;
        margin-left: 1em;
        padding-left: 1em;
        border-width: 0;
        border-left-width: 1px;
        border-left-style: solid;
        border-left-color: rgba(255, 255, 255, 0.25) !important;
        border-radius: 0;

        &:hover {
            background: none;
            color: #fff;
            opacity: 0.7;
        }
    }

    strong {
        color: #fff;

    }

    pre {
        background-color: rgba(0, 0, 0, 0.1);
    }
}

.woocommerce-error {
    list-style: none;
}

.woocommerce-info,
.woocommerce-noreviews,
p.no-comments {
    background-color: $info;
}

.woocommerce-error {
    background-color: $error;
}

dl.variation {
    font-size: ms(-1);

    dd {
        margin: 0 0 1em;
    }
}

.wc-item-meta {
    font-size: ms(-1);
    margin-left: 0;
    list-style: none;

    li {
        @include clearfix;

        strong,
        p {
            display: inline-block;
        }
    }
}

/**
 * Homepage
 */
.organey-product-section {
    margin-bottom: ms(3);

    .section-title {
        text-align: center;
        margin-bottom: ms(1);
    }

    &:last-child {
        margin-bottom: 0;
    }
}

/**
 * Single Product Pagination
 */

.organey-product-pagination {
    @media(max-width: 1500px) {
        display: none;
    }

    a {
        position: fixed;
        border: 1px dashed var(--border);

        &.prev-product {
            left: 0;

            img {
                transform: translateX(-100%);
            }
        }

        &.next-product {
            right: 0;

            img {
                transform: translateX(100%);
            }
        }

        i {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            @include opal-color(light);
            transition: all ease 0.2s;
            z-index: 3;
        }

        img {
            width: 80px;
            height: 120px;
            object-fit: cover;
            opacity: 0;
            transition: all ease 0.2s;
        }

        &:hover {
            i {
                color: #fff;
            }

            img {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }
}

/**
 * Sticky Add to Cart
 */
.organey-sticky-add-to-cart {
    display: none;
}

.organey-archive-product {
    #secondary {
        @include susy-media(max-width ($desktop - 1)) {
            display: none;
        }
    }
}

.woocommerce-result-count {
    font-size: 14px;
    @include opal-color(body);

    @include susy-media(max-width ($tablet - 1)) {
        display: none;
    }
}
